@import "material-themes";
@import "material/next-material";

$mat-typography: mat-typography-config(
  $font-family: "Montserrat"
);

@include angular-material-typography($mat-typography);
@include mat-core($mat-typography);

.mat-typography p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 40px;
}
